.feedline {
  width: 100%;
  margin: 40px 0; 
  height: 100vh;

  &-scroll {
    width: 100%; 
  }

  &-upstair {
    display: none;
  }
}

@include mQ(769px) {
  .feedline {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-upstair {
      display: block;
    }

  }
}
