<div class="feedline">
  <app-upstair-button 
    class="feedline-upstair"
    *ngIf="upstairShow"
    (click)="navigateTop(scroll)"
  ></app-upstair-button>
  
  <virtual-scroller 
    #scroll
    *ngIf="feedLinePosts.length"
    class="feedline-scroll"
    [items]="feedLinePosts"
    [parentScroll]="scroll.window"
    [enableUnequalChildrenSizes]="true"
    [scrollThrottlingTime]="1000"
    (vsEnd)="loadMoreComments($event)"
    (vsStart)="checkUpstairButton($event)"
  >
    <app-post 
      *ngFor="let item of scroll.viewPortItems"
      [post] = "item"
    ></app-post>
  </virtual-scroller>

</div>
