.header {
  $_gap: 10px;

  height: 60px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid $light-grey;
  @include flexJustCenter;

  &-container {
    width: 90%;
    max-width: 940px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .logo {
    cursor: pointer;
    align-self: center;
    justify-self: left;
    @include flexAlignCenter;
  }

  .logo__img--geo {
    margin-right: $_gap;
  }

  .logo__text {
    border-left: 1px solid #000;
    font-size: 20px;
    padding-left: $_gap;
    margin: 0;
  }

  .search-container {
    position: relative;
    display: none;
    align-self: center;
    justify-self: center;
  }

  .buttons-container {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    @include flexCenter;
  }

  &__btn:not(:last-child) {
    margin-right: $_gap;
  }

  &__icon {
    cursor: pointer;
    font-size: 36px;
    user-select: none;
  }

  @include mQ(530px) {
    &-container {
      grid-template-columns: repeat(2, 1fr) 1.2fr;
    }

    .search-container {
      display: block;
    }
  }

  @include mQ(768px) {
    &-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include mQ(850px) {
    .followings-icon {
      display: none;
    }

    &__btn:not(:last-child) {
      margin-right: $_gap + 20px;
    }
  }
}

@import './components/search-box/index';
