<div class="header">
  <div class="header-container">
    <div class="logo">
      <img src="/src/assets/logo.png" class="logo__img--geo" alt="logo" width="24" height="24">
      <p class="logo__text">Pixel</p>
    </div>
    <div class="search-container">
      <div class="search__input">
        <i class="material-icons search__icon">search</i>
        <p>Search</p>
      </div>
    </div>
    <div class="buttons-container">
      <div class="header__btn header__btn--margin-auto">
        <i class="material-icons header__icon">notifications</i>
      </div>
      <div class="header__btn followings-icon">
        <i class="material-icons header__icon">accessibility_new</i>
      </div>
      <app-header-nav class="header__btn"></app-header-nav>
    </div>
  </div>
</div>
