<style>
  .btn__text {
    margin: 0;
    padding-left: 20px;
    font-weight: 500;
  }
</style>

<i class="material-icons header__icon" [matMenuTriggerFor]="headerMenu">extension</i>
<mat-menu #headerMenu="matMenu" [xPosition]="'before'" [yPosition]="'below'">
  <button mat-menu-item
    routerLink="{{ '/profile/' + auth.user.nickname }}"
  >
    <p class="btn__text">Profile</p>
  </button>
  <button mat-menu-item
    [routerLink]="'/'"
  >
    <p class="btn__text">Feed</p>
  </button>
  <button mat-menu-item
    (click)="handleSignOut()"
  >
   <p class="btn__text">Sign Out</p>
  </button>
</mat-menu>
