.user-posts { 
  .user-posts-wrapper {
    min-height: 300px;
    padding-bottom: 40px;
    background-color: #fff;
  }

  .user-posts-container {
    width: 90%;
    max-width: 940px;
    margin: auto;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-bottom: 1px solid #13a58d;
    margin: 20px 0 30px;
  }

  .header-title__name{
    margin: 2px;
  }

  .pics-row {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
  }
  
  .empty-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .empty-posts__icon {
    font-size: 50px; 
  }

  .icon--add:hover {
    opacity: .2;
  }
}
