<form class="form--full-width" [formGroup]="localForm" 
  (ngSubmit)="handleSubmit(localForm.value)"
>
  <mat-form-field class="input--full-width">
    <input matInput 
      placeholder="Email" type="email"
      [formControl]="emailInp"
    >
    <mat-error class="mat-error" *ngIf="emailInp.hasError('emailInvalid')">
      Email Invalid
    </mat-error>
    <mat-error class="mat-error" *ngIf="emailInp.hasError('required') && emailInp.touched">
      Email is required
    </mat-error>
  </mat-form-field>
  

  <mat-form-field class="input--full-width">
    <input matInput
      placeholder="Password" type="password"
      [formControl]="passwordInp"
    >
    <mat-hint align="start">Min 6 characters</mat-hint>
    <mat-error class="mat-error" *ngIf="passwordInp.hasError('minlength')">
      Password must be at least 6 characters long         
    </mat-error>
    <mat-error class="mat-error" *ngIf="passwordInp.hasError('required') && passwordInp.touched">
      Password is required
    </mat-error>
  </mat-form-field>

  <app-spinner 
    *ngIf="authState.authLoading" 
    [size]="20"
    [color]="'accent'"
  ></app-spinner>

  <app-server-msg [msg]="authState.errMsg" [ngClass]="'server-msg--err'"></app-server-msg>
  <button mat-raised-button color="primary" type="submit"
    class="auth__btn btn--full-width"        
  >
    <mat-icon class="auth__icon">person_add</mat-icon>
    Sign In
  </button>
</form>
