.auth-page {
  align-items: center;
  @include flexColumn;

  .auth-wrapper {
    margin-top: 40px;
    @include authBlock;
    @include flexJustCenter;
  }

  .auth-link-wrapper {
    margin: 20px auto 40px;
    text-align: center;
    @include authBlock;
  }

  .auth-link {
    color: $dark-blue;
    font-weight: bold;
  }
}

.auth {
  width: 75%;
  align-items: center;
  @include flexColumn;

  &__text {
    color: $normal-grey;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }

  .spinner-container {
    margin: 10px 0;
  }

  &__btn {
    font-size: 12px;
    height: 35px;
    color: #fff;
    text-transform: uppercase;
  }

  &__btn.btn--google,
  &__btn.btn--facebook {
    margin-bottom: 20px;
    padding: 0;
  }

  &__icon {
    margin-right: 10px;
  }

  .mat-button-wrapper {
    align-items: center;
    @include flexJustCenter;
  }

  @include mQ(426px) {
    &__btn {
      font-size: 14px;
    }
  }

  @include mQ(769px) {
    &__btn {
      font-size: 12px;
    }
  }

  @include mQ(850px) {
    &__btn {
      font-size: 14px;
    }
  }
}
