.post-header {
  width: 95%;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 10px 0 0;

  &__avatar-image {
    border-radius:50%;
    height: 50px;
    width: 50px; 
    margin-right: 10px;
    object-fit: cover;
  }

  &__nickname {
    font-weight: 500;
  }

  &__location{
    margin: 0;
    margin-top: 5px;
  }
}
