<form class="form--full-width" [formGroup]="localForm" 
  (ngSubmit)="handleSubmit(localForm.value)"
>
  <mat-form-field class="input--full-width">
    <input matInput
      placeholder="Nickname" type="text"
      [formControl]="nicknameInp"
    >
    <mat-hint align="start">Min 6 characters</mat-hint>
    <mat-error class="mat-error" *ngIf="nicknameInp.hasError('firstCharErr')">
      First symbol has to be a Latin letter
    </mat-error>
    <mat-error class="mat-error" *ngIf="nicknameInp.hasError('lessThatSixChar')">
      Nickname must be 6 or more characters
    </mat-error>
    <mat-error class="mat-error" *ngIf="nicknameInp.hasError('charachtersErr')">
      Use letters, numbers or underline charachters
    </mat-error>
    <mat-error class="mat-error" *ngIf="nicknameInp.hasError('tooManyChar')">
      Nickname must be less than 15 characters
    </mat-error>
    <mat-error class="mat-error" *ngIf="nicknameInp.hasError('required') && nicknameInp.touched">
      Nickname is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input--full-width">
    <input matInput 
      placeholder="Email" type="email"
      [formControl]="emailInp"
    >
    <mat-error class="mat-error" *ngIf="emailInp.hasError('emailInvalid')">
      Email Invalid
    </mat-error>
    <mat-error class="mat-error" *ngIf="emailInp.hasError('required') && emailInp.touched">
      Email is required
    </mat-error>
  </mat-form-field>
  
  <mat-form-field class="input--full-width">
    <input matInput #password
      placeholder="Password" type="password"
      [formControl]="passwordInp"
    >
    <mat-hint align="start">Min 6 characters</mat-hint>
    <mat-error class="mat-error" *ngIf="passwordInp.hasError('minlength')">
      Password must be at least 6 characters long         
    </mat-error>
    <mat-error class="mat-error" *ngIf="passwordInp.hasError('required') && passwordInp.touched">
      Password is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input--full-width">
    <input matInput #confPassword
      placeholder="Confirm Password" type="password"
      [formControl]="confPasswordInp"
    >
    <mat-hint align="start">Passwors have to match</mat-hint>
    <mat-error class="mat-error" *ngIf="confPasswordInp.hasError('passwordMismatch')">
      Passwords don't match
    </mat-error>
    <mat-error class="mat-error" *ngIf="confPasswordInp.hasError('required') && confPasswordInp.touched">
      Password confirmation is required
    </mat-error>
  </mat-form-field>

  <app-spinner 
    *ngIf="authState.authLoading"
    [size]="20"
    [color]="'accent'"
  ></app-spinner>

  <app-server-msg
    *ngIf="!authState.authLoading" 
    [msg]="authState.err ? authState.errMsg : authState.confMsg" 
    [ngClass]="authState.err ? 'server-msg--err' : 'server-msg--success' ">
  </app-server-msg>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="authState.confMsg ? true: false" 
    class="auth__btn btn--full-width"        
  >
    <mat-icon class="auth__icon">person_add</mat-icon>
    Sign Up
  </button>
</form>
