@import './normalize.css';
@import './variables';
@import './mixins';
@import './fonts';
@import './inputs';
@import './forms';
@import './buttons';
@import './text';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
}

body {
  background-color: $body-background;
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

@import '../app/modules/index';
@import '../app/shared/index';
