<div class="layout">
  <mat-progress-spinner 
    *ngIf="auth.loading" 
    [color]="'primary'"
    [mode]="'indeterminate'"
    [diameter]="'150'"
    class="layout-spinner"
  ></mat-progress-spinner>

  <div class="animate-switch-container layout" *ngIf="!auth.loading" [ngSwitch]="auth.login">
    <div class="animate-switch public-layout" [ngSwitch]="pagePath" *ngSwitchCase="false">
      <app-auth *ngSwitchCase="'/sign-up'" [title]="'Sign up'"></app-auth>
      <app-auth *ngSwitchCase="'/sign-in'" [title]="'Sign in'"></app-auth>
    </div>

    <div class="animate-switch public-layout" *ngSwitchCase="true">
      <app-header></app-header>
    </div>
  </div>
</div>
